/RevisaoDM2021N/nbproject/private/
/WebRevisaoDM2021N/nbproject/private/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_backend/build/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_backend/dist/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_backend/nbproject/private/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_frontend/build/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_frontend/dist/
/ProjetoWeb2020_DuniaGhazzaoui/Bittencourt_frontend/nbproject/private/
/RevisaoDM2021N/build/
/WebRevisaoDM2021N/build/
/RevisaoDM2021N/dist/